/* Navbar Styles */
.navbar {
  background-color: #000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-image {
  width: 40px;
  height: 40px;
}

.logo-text {
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 20px;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.nav-buttons {
  display: flex;
}

.btn-login,
.btn-registration {
  background-color: #6A0DAD;
  color: #fff;
  padding: 10px 20px;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-login:hover,
.btn-registration:hover {
  background-color: #530A93;
}

/* Home Page Styles */
.home-container {
  text-align: center;
  background-image: url('./images/backgroung.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
}

.header {
  padding: 20px;
}

.header-info {
  font-size: 16px;
  margin-bottom: 20px;
}

.address,
.date-time {
  display: block;
}

.main-title {
  font-size: 48px;
  font-family: 'Press Start 2P', cursive;
  margin: 20px 0;
}

.description {
  font-size: 16px;
  margin: 20px 0;
  max-width: 800px;
  margin: 0 auto;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.time-box {
  margin: 0 20px;
  text-align: center;
}

.time {
  font-size: 48px;
  font-family: 'Press Start 2P', cursive;
}

.label {
  font-size: 16px;
  margin-top: 10px;
}
